# macOS
.DS_Store

# VS Code
.vscode/

# C++
*.o
*.out
cpp_mem
*.dSYM/

# Java
*.class

# Rust
rust_mem
target/
*.rlib

# JavaScript/Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
